body {
    margin: 0;
    font-family:open sans;
    font-size: large;
   
  }
  header {
    padding: 10px 0;
  }
  nav {
    overflow: hidden;
  }
  ul {
    list-style: none;
    margin: 0px; 
    padding: 0;
    float: left;
  }
  nav li {
    display: inline-block;
    margin-left: 55px;
    height: 50px;
    line-height: 70px;
  }
  nav a {
    text-decoration: none;
    display: block;
    position: relative;
    color: black;
    font-size: 18px;
  }
  nav li a :hover{
      color: red;
  }
 
  .genel{
      width: 100%;
      vertical-align: middle;
      margin: 0px 20px;
  }
  .ilk{
    width: 60%;
    float: left;
  }
 .ilk img{
    width: 93%;
    padding-left: 10px;
    padding-bottom: 30px;
    
  }

  .iki{
    width: 30%;
    float: left;
  }
  .iki button{
    width: 50%; 
    height: 70px;
    margin-top: 10px;
    background-color:lightskyblue;
    border-radius: 10px;
   
  }
  .iki h5{
      margin-top: 10px;
  }  
.row img{
    width: 85%;
    padding-left: 17px;
}
li{
   display: block;
}
.footer1{
float: left;
width: 15%;
margin-bottom: 20px;
margin-left: 130px;

}
.footer{
  float: left;
}
.kutu{
  background-color: lightgray;
  margin:65px 0px;
  border: 1px solid black;
}
.kutu1{
  float: left;
  width: 5%;
}
.kutu2{
  float: left;
  width: 55%;
}
.kutu3{
  float: left;
  width: 40%;
  
}
.kutu3 button{
 border-radius: 5px;
 margin-top: 30px;
 background-color: white;
}
.resim{
  width: 130%;
}
.kartlar{
  margin-left: 220px; 
  margin-bottom: 15px;
}
.x a{
  margin-left: 80px;
  border: 3px solid red;
  color: red;
  
}